/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media only screen and (max-width: 1200px){
    .line-wrapper {
        border: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {

    section.categories {
        margin-top: 0px;
    }

    .title-index {
        display: block;
    }

    section.products .product-item {
        min-height: 470px;
    }
}


  @media (min-width: 768px) and (max-width: 1023px) {

    .desc-produto {
        margin-bottom:2.5rem;
    }
    h2 {
        margin-top: 20px;
        background: #fafafa;
        padding: 20px 0px;
        color: #666666;
        margin-bottom: 30px;
    }
    button.navbar-toggler {
        right: 40px;
        position: fixed;
    }
    .item-category {
        margin-bottom: 35px;
    }

    .navbar {
        padding: 40px 0px;
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
    }

    button.navbar-toggler {
        position: absolute;
        right: 24px;
        top: 15px;
    }

    /* .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 65px;
        z-index: 999;
        background: #f8f9fa;
        margin: 0 auto;
        right: 19px;
        padding: 15px 20px;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    } */
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    section.products .product-item a.text-link {
        width: 150px;
        left: 50px;
    }


}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    .desc-produto {
        margin-bottom:2.5rem;
    }
    a.logo {
        display: block;
        text-align: center;
    }
    a.logo img {
        margin: 0 auto;
        display: block;
    }
    button.navbar-toggler {
        position: absolute;
        right: 24px;
        top: 30px;
    }
    form#search-form {
        margin-left: 0px;
    }
    section.categories {
        padding: 20px 0px;
        background: #efefef;
    }
    h4.product-title {
        margin-bottom: 18px;
        font-size: 1.8em;
        margin-top: 30px;
    }
    a.btn-mask {
        color: #333333;
        display: table;
        width: 100%;
        -webkit-transition: background-color 300ms linear, color .2s linear;
        -moz-transition: background-color 300ms linear, color .2s linear;
        -o-transition: background-color 300ms linear, color .2s linear;
        -ms-transition: background-color 300ms linear, color .2s linear;
        transition: background-color 300ms linear, color .2s linear;
        margin-bottom: 20px;
    }
    img.img-fluid.img-animate {
        position: absolute;
        max-width: 115px;
        left: 0;
        top: 0px;
        transition: all .5s ease 0s;
    }

}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {


    section.categories {
        margin-top: 0px;
    }

    .title-index {
        display: block;
    }


    section.products .product-item {
        min-height: 340px;
    }

    section.products .product-item a.text-link {
        left: 22px;
        width: 130px;
    }

    .desc-produto {
        margin-bottom:2.5rem;
    }


    h2 {
        margin-top: 0px;
        background: #fafafa;
        padding: 20px 0px;
        color: #666666;
        margin-bottom: 30px;
        font-size: 1.3em;
    }
    .bg-light {
        background-color: #f8f9fa!important;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .logo {
        margin: 0px !important;
    }

    .navbar {
        padding: 35px 0px;
    }

    button.navbar-toggler {
        position: absolute;
        right: 24px;
        top: 15px;
    }

    .navbar-expand-lg .navbar-nav {
        margin-top: 2rem;
    }

    form#search-form {
        margin-left: 0px;
    }
    section.categories {
        padding: 20px 0px;
        background: #efefef;
    }
    h4.product-title {
        margin-bottom: 18px;
        font-size: 1.8em;
        margin-top: 30px;
    }
    a.btn-mask {
        color: #333333;
        display: table;
        width: 100%;
        -webkit-transition: background-color 300ms linear, color .2s linear;
        -moz-transition: background-color 300ms linear, color .2s linear;
        -o-transition: background-color 300ms linear, color .2s linear;
        -ms-transition: background-color 300ms linear, color .2s linear;
        transition: background-color 300ms linear, color .2s linear;
        margin-bottom: 20px;
    }
    img.img-fluid.img-animate {
        position: absolute;
        max-width: 115px;
        left: 0;
        top: 0px;
        transition: all .5s ease 0s;
    }
    ul.languages {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
    }
    ul.contacts-info {
        margin: 10px 0px;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
    }
    ul.contacts-info li {
        display: block;
        margin-bottom: 10px;
    }
    /* .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 65px;
        z-index: 999;
        background: #212529;
        margin: 0 auto;
        right: 19px;
        padding: 15px 20px;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    } */


    #search-form {
        padding: 0px 15px;
    }

    .no-search-wrapper h2 {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.no-search-wrapper h2:last-child {
    font-size: 18px;
    margin-top: 15px;
}

.no-search-wrapper {
    margin-bottom: 30px;
}
}
